.countrySlides {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.slide {
  opacity: 0;
  transition-duration: 0.6s ease-in;
}
.slide.active {
  opacity: 1;
  transition-duration: 0.6s;
  transform: scale(1.2);
}
.countryDetails {
  width: 70vw;
  display: grid;
  grid-template-columns: 70% 30%;
}
.arrowIcon {
  /* font-size: 7rem; */
  position: absolute;
  color: white;
  cursor: pointer;
}
.left-arrow {
  top: 50%;
  left: 32px;
}
.right-arrow {
  top: 50%;
  right: 32px;
}

.leftContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.leftContainer > h1 {
  color: var(--text-color);
  font-size: 3rem;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.4rem;
  padding: 2rem;
  text-shadow: 2px 6px 20px rgba(0, 0, 0, 0.5);
}
.flag {
  max-width: 30rem;
  max-height: 20rem;
  object-fit: contain;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.rightContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rightDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 60vh;
}
.rightDetails > div > div > h2 {
  color: var(--text-color);
  text-align: center;
  font-weight: 500;

  font-size: 1rem;
  padding-top: 0.3rem;
}
.rightDetails > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 1000px) {
  .leftContainer > h1 {
    padding: 1rem;
  }
  .countryDetails {
    /* background-color: lightblue; */
    grid-template-columns: 100%;
  }
  .rightDetails {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    flex-direction: row;
    margin-top: 1rem;
    height: auto;
    align-items: flex-start;
    width: 70vw;
  }
  .flag {
    max-width: 70vw;
  }
  .leftContainer > h1 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 550px) {
  .rightDetails > div > div > h2 {
    padding-top: 0.1rem;
  }
}
