* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
:root {
  font-size: 16px;
  --bg-color: #feb710;
  --text-color: rgb(255, 255, 255);
  --icon-color: rgba(255, 255, 255, 0.699);
  --overlay-color: rgba(24, 39, 51, 0.85);
}
body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
